:root {
    font-family: "Times New Roman", serif;
}

@page {
    size: A4;
    margin: 0.5in;

    @top-right {
        content: counter(page) " / " counter(pages);
        top: -12px;
        font-size: 9px;
    }
}

h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 2px;
}

h2 {
    font-size: 13px;
    font-weight: 200;
    margin: 0;
}

h3 {
    font-size: 12px;
    border-bottom: 1px solid #000;
    margin: 12px 0 4px 0;
}

h4 {
    font-size: 10px;
    margin: 6px 0 4px 0;
}

ul {
    margin: 0;
    padding-left: 18px;
}

p,
li {
    font-size: 10px;
    line-height: 14px;
    margin: 0;
}
